# --- Environment ---
NODE_ENV=development
APP_ENVIRONMENT=development
APP_PORT=3000
APP_LOG_LEVEL=debug

# --- API & Auth ---
API_URL=http://localhost:80/api

# --- Frontend ---
FRONTEND_URL=http://localhost:3000
CORS_ALLOWED=http://localhost:3000,https://example-exposed-port.something

# --- API Keys ---
SERVICE_API_KEY=your-service-api-key
JOB_API_KEY=your-job-api-key
