@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --toastify-color-success: #1f875f !important;
  --toastify-icon-color-success: #1f875f !important;
  --toastify-color-progress-success: #1f875f !important;
  --primary-color: #1e88e5;
  --primary-hover-color: #0675db;
  --secondary-color: #0883f2;
}

.arrowless-input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
  -webkit-appearance: none;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
